<article class="partial products-summary">
  {{ with .Resources.GetMatch "icon" }}
  <img src="{{ .RelPermalink | safeHTMLAttr }}" alt="{{ .Title }}">
  {{ end }}
  <h2>{{ .Title }}</h2>
  <section>{{ .Summary }}</section>
  <p>
    <a href="{{ .RelPermalink | safeHTMLAttr }}">
      {{ i18n "partial-products-summary-more" . | markdownify }}
    </a>
  </p>
</article>
