section.cdn-map > svg {
  width: 100%;
  margin: 1rem 0 0 0;
}
section.cdn-map > ul {
  column-width: 200px;
  list-style-type: none;
  margin: 2rem 0;
  padding: 0;
}
section.cdn-map > ul > li {
  text-align: center;
  color: var(--color-foreground);
  font-family: var(--font-stack-condensed);
  font-weight: 300;
  font-size: 1.25rem;
}
