.page {
  background-color: var(--color-background);
}
section.content {
  color: var(--color-foreground);
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem .5rem 4rem .5rem;
}
section.content > h2 {
  margin: 2rem 0 0 0;
  font-family: var(--font-stack-condensed);
  font-weight: 300;
  font-size: 2.25rem;
}
section.content > h2:first-child {
  margin-top: 0;
}
section.content > h3 {
  margin: 1.5rem 0 .5rem 0;
  font-family: var(--font-stack-condensed);
  font-weight: 300;
  font-size: 1.5rem;
}
section.content > h2 > a.anchor,
section.content > h3 > a.anchor {
  text-decoration: none;
}
section.content > h2 > a.anchor::after,
section.content > h3 > a.anchor::after {
  content: '#';
  margin-left: .15ch;
  color: var(--color-midground);
}
section.content > p,
section.content > ol,
section.content > ul {
  margin: .5rem 0 0 0;
  font-family: var(--font-stack-sans-serif);
  font-size: 1rem;
}
section.content ol > li,
section.content ul > li {
  margin: .25rem 0;
}
section.content .coming-soon {
  background-color: var(--color-background-cta);
  color: var(--color-foreground-cta);
  font-family: var(--font-stack-monospace);
  padding: 0 .25rem;
  display: inline-block;
  font-size: .75rem;
  text-transform: uppercase;
}
section.content > figure {
  text-align: center;
  margin: 1rem 0;
  padding: 2rem .5rem 1rem .5rem;
  background-color: var(--color-foreground);
  font-size: 0;
}
section.content > figure img {
  max-width: 100%;
  height: auto;
}
section.content > figure h4 {
  margin: 0;
  color: var(--color-background);
  font-family: var(--font-stack-slab);
  font-weight: normal;
  font-size: 1rem;
  font-style: italic;
}
section.content code {
  word-wrap: break-word;
  font-family: var(--font-stack-monospace);
  background-color: var(--color-midground);
  padding: 0 .25rem;
  margin: .125rem 0;
  display: inline-block;
}
section.content .highlight > pre > code {
  padding: 1rem;
}
section.content .highlight code {
  word-wrap: inherit;
  font-family: inherit;
  background-color: inherit;
  padding: inherit;
  margin: inherit;
  display: inherit;
}
section.content a code {
  text-decoration: underline;
}
section.content > pre {
  font-family: var(--font-stack-monospace);
  background-color: var(--color-foreground);
  color: var(--color-background);
  padding: 1rem .75rem;
}
