section.pages-deploy {
  overflow-y: hidden;
  overflow-x: auto;
  background-color: var(--color-foreground);
  text-align: center;
  margin: 1rem auto;
}
section.pages-deploy > samp > .prompt,
section.pages-deploy > samp > .info {
  color: var(--color-midground);
}
section.pages-deploy > samp > kbd {
  display: inline;
}
section.pages-deploy > samp {
  text-align: left;
  font-family: var(--font-stack-monospace);
  font-size: 1.25rem;
  line-height: 1.5em;
  color: var(--color-background);
  background-color: var(--color-foreground);
  padding: 2em;
  white-space: pre;
  display: inline-block;
  word-wrap: break-word;
}
section.pages-deploy > samp > a,
section.pages-deploy > samp > a:visited {
  text-decoration: none;
  color: var(--color-background);
}
@media (max-width: 800px) {
  section.pages-deploy > samp {
    padding: 1em;
    font-size: 1rem;
  }
}
@media (max-width: 600px) {
  section.pages-deploy > samp {
    padding: .5em;
    font-size: .8rem;
  }
}
@media (max-width: 500px) {
  section.pages-deploy > samp {
    padding: .5em;
    font-size: .6rem;
  }
}
