#TableOfContents {
  margin: 2rem auto 0 auto;
  max-width: 1000px;
  padding: 1rem .5rem 1rem .5rem;
}
@media (max-width: 700px) {
  #TableOfContents {
    display: flex;
    justify-content: center;
  }
}
#TableOfContents > ul {
  display: inline-block;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-style: solid;
  border-color: var(--color-foreground);
  border-width: 4px 0;
}
#TableOfContents ul {
  margin: 0;
}
#TableOfContents ul > li > a {
  color: var(--color-foreground);
  font-family: var(--font-stack-sans-serif);
}
