<footer>
  <div class="content">
    <section class="copyright">
      <header>
        <h2>{{ i18n "site-footer-copyright-publisher" | markdownify }}</h2>
        <span class="logo">🐑</span>
      </header>
      <p>{{ i18n "site-footer-copyright-license" $.Site.Params | markdownify }}</p>
    </section>
    <section class="legal">
      <header>
        <h2>{{ i18n "site-footer-legal-title" | markdownify }}</h2>
      </header>
      <ul>
        <li>
          <a href="{{ relref . "/about/privacy" }}">
            {{ i18n "site-footer-legal-privacy" }}
          </a>
        </li>
        <li>
          <a href="{{ relref . "/about/terms" }}">
            {{ i18n "site-footer-legal-tos" }}
          </a>
        </li>
        <li>
          <a href="{{ relref . "/about/aup" }}">
            {{ i18n "site-footer-legal-aup" }}
          </a>
        </li>
      </ul>
    </section>
    <section class="media">
      <header>
        <h2>{{ i18n "site-footer-media-title" | markdownify }}</h2>
        <span class="handle">{{ i18n "site-footer-media-handle" | markdownify }}</span>
      </header>
      <ul>
        <li><a href="https://gitlab.com/commonshost">GitLab</a></li>
        <li><a href="https://twitter.com/commonshost">Twitter</a></li>
        <li><a href="https://github.com/commonshost">GitHub</a></li>
        <li><a href="https://dev.to/commonshost">DEV</a></li>
        <!-- <li><a href="https://medium.com/commonshost">Medium</a></li> -->
        <li><a href="https://www.youtube.com/channel/UCw_NDAJ0gkueNygXnAQ0kTw">YouTube</a></li>
      </ul>
    </section>
  </div>
</footer>

{{ if isset .Params "js" }}
{{- range (slice | append .Params.js) }}
{{ partial "helpers/script.html" . }}
{{ end }}
{{ end }}
