.partial.title {
  background-color: var(--color-foreground);
  padding: 4rem 1rem;
  text-align: center;
}
.partial.title > h1 {
  margin: 0;
  text-align: center;
  color: var(--color-background);
  font-family: var(--font-stack-condensed);
  font-weight: 300;
  font-size: 2.25rem;
}
.partial.title > p {
  margin: 1rem .5rem 0 .5rem;
  color: var(--color-background);
  font-family: var(--font-stack-sans-serif);
  font-size: 1rem;
  font-style: italic;
}
