{{ partial "helpers/style.html" (print "styles/products/cdn-map.css") }}

<section class="cdn-map">
  <svg viewBox="0 0 5365 2347">
    <defs>
      <image id="pin" xlink:href="/images/brand/sheep.svg" x="100" y="100" height="100px" width="100px"/>
    </defs>
    <image xlink:href="/images/world.svg" x="0" y="0" height="100%" width="100%"/>
    <use id="ch-brn" xlink:href="#pin" x="2440" y="370"><title>Switzerland, Bern</title></use>
    <use id="de-fra" xlink:href="#pin" x="2450" y="360"><title>Germany, Frankfurt</title></use>
    <use id="gb-lon" xlink:href="#pin" x="2300" y="310"><title>UK, London</title></use>
    <use id="gb-man" xlink:href="#pin" x="2275" y="285"><title>UK, Manchester</title></use>
    <use id="in-vga" xlink:href="#pin" x="3540" y="950"><title>India, Amaravati</title></use>
    <use id="it-mil" xlink:href="#pin" x="2460" y="425"><title>Italy, Milan</title></use>
    <use id="jp-tyo" xlink:href="#pin" x="4350" y="600"><title>Japan, Tokyo</title></use>
    <use id="lt-vno" xlink:href="#pin" x="2650" y="280"><title>Lithuania, Vilnius</title></use>
    <use id="my-kul" xlink:href="#pin" x="3875" y="1125"><title>Malaysia, Kuala Lumpur</title></use>
    <use id="sg-sin" xlink:href="#pin" x="3900" y="1200"><title>Singapore</title></use>
    <use id="th-uth" xlink:href="#pin" x="3850" y="900"><title>Thailand, Udon Thani</title></use>
    <use id="us-atl" xlink:href="#pin" x="1050" y="625"><title>USA, Atlanta</title></use>
    <use id="us-aus" xlink:href="#pin" x="830" y="680"><title>USA, Austin</title></use>
    <use id="us-dfw" xlink:href="#pin" x="875" y="650"><title>USA, Dallas</title></use>
    <use id="us-ewr" xlink:href="#pin" x="1250" y="500"><title>USA, Newark</title></use>
    <use id="us-lax" xlink:href="#pin" x="575" y="600"><title>USA, Los Angeles</title></use>
    <use id="us-sjc" xlink:href="#pin" x="550" y="550"><title>USA, San Jose</title></use>
    <use id="vn-vca" xlink:href="#pin" x="3950" y="1050"><title>Vietnam, Can Tho</title></use>
    <use id="ca-yow" xlink:href="#pin" y="420" x="1250"><title>Canada, Ottawa</title></use>
  </svg>
  <ul>
    <li>Germany, Frankfurt</li>
    <li>India, Amaravati</li>
    <li>Italy, Milan</li>
    <li>Japan, Tokyo</li>
    <li>Lithuania, Vilnius</li>
    <li>Malaysia, Kuala Lumpur</li>
    <li>Singapore</li>
    <li>Switzerland, Bern</li>
    <li>Thailand, Udon Thani</li>
    <li>UK, London</li>
    <li>UK, Manchester</li>
    <li>USA, Atlanta</li>
    <li>USA, Austin</li>
    <li>USA, Dallas</li>
    <li>USA, Los Angeles</li>
    <li>USA, Newark</li>
    <li>USA, San Jose</li>
    <li>Vietnam, Can Tho</li>
    <li>Canada, Ottawa</li>
  </ul>
</section>
