{{ partial "helpers/style.html" "styles/products/pages-deploy.css" }}

<section class="pages-deploy">
<samp><span class="prompt">~/website $</span> <kbd>npx commonshost deploy</kbd>
<span class="info">To cancel, press Ctrl+C.</span>

<span class="info">Detected static site: public</span>
<span class="info">To override, use: --root "path"</span>

<span class="info">Detected options file: commonshost.conf.js</span>
<span class="info">To override, use: --options "path"</span>

<b>Deploying:</b>

  Directory: 	<b>~/website/public</b>
  File count:	<b>83</b>
  Total size:	<b>254 kB</b>
  URL:		<a href="https://finest-witty-turtle.commons.host" style="color: greenyellow;">https://finest-witty-turtle.commons.host</a>
  Options:	<b>~/website/commonshost.conf.js</b>
  Manifest:	<b>~/website/serverpush.json</b>

  <span style="color: greenyellow;">✔</span> Uploading

Deployment successful!
</samp>
</section>
